<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Heidrick Connect</title>
    <link rel='stylesheet' type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,regularitalic,bold,bolditalic">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:regular,bold" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" media="print" href="/stylesheets/bootstrap-custom.min.css" --><!-- custom download without @print styles -->
    <link rel='stylesheet' href='/stylesheets/main.css'/>
</head>
<body>
<my-app>Loading...</my-app>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
this is the bundle.js contents after webpack builds
<!--<script src="/js/app/bundle.js"></script>-->
</body>
</html>
